<section class="hero-image-wrapper">
  <%= image_tag 'hero-imgs/hero-4_npd6jy', class: 'hero-img', type: :upload %>
  <%= image_tag 'hero-imgs/hero-3_mdkafy', class: 'hero-img', type: :upload %>
  <%= image_tag 'hero-imgs/hero-2_bjm2a0', class: 'hero-img', type: :upload %>
  <%= image_tag 'hero-imgs/hero-1_z4or6s', class: 'hero-img', type: :upload %>
</section>

<section class='main-wrapper'>

  <div class="search_wrapper">
    <h1 class='search_title'>Find your next experience</h1>
    <%= content_tag :div, (render 'home_search'), class: 'home-search_container' %>
  </div>

  <header class='home-header'>
    <h2 class='title title--center title--skinny'>
      Events for you in
      <span class='visitor-city'>
        <%= link_to @visitor_city,
                    events_path(location: @visitor_city),
                    class: 'link-decorate' %>
      </span>
    </h2>
    <hr class='h-rule-5--orange'>
  </header>

  <div class='events-wrapper events-wrapper--home'>
    <%= postcard_events(@events) %>
  </div>

  <div class='categories-container'>
    <h2 class='title title--center title--skinny'>Browse by popular categories</h2>
    <hr class='h-rule-5--orange'>
    <div class='categories-wrapper'>
      <%= render 'categories' %>
    </div>
  </div>

</section>

<% if @events.any? && Event.count > @events.size %>
  <%= link_to 'Show more', events_path, class: 'btn btn--hollow btn--showmore btn--mtb1' %>
<% end %>
