<section class="hero-image-wrapper">
  <%= image_tag 'hero-4.jpeg', class: 'hero-img' %>
  <%= image_tag 'hero-3.jpeg', class: 'hero-img' %>
  <%= image_tag 'hero-2.jpeg', class: 'hero-img' %>
  <%= image_tag 'hero-1.jpeg', class: 'hero-img' %>
</section>

<section class='main-wrapper'>
  <div class="search_wrapper">
    <h1 class='search_title'>Find your next experience</h1>
    <div class="search_bar">

    </div>
  </div>
  <header class=''>
    <h2 class='title title--center title--skinny'>Events for you</h2>
    <hr class='h-rule-5--orange'>
  </header>
  <div class='events-wrapper events-wrapper--home'>
    <%= render 'events/event-postcard' %>
  </div>

</section>

<%= link_to 'Show more', events_path, class: 'btn btn--hollow btn--showmore btn--mtb1' %>
