<div class='hp-grid'>

  <!-- Homepage hero image -->

  <section class="hero">
    <%= image_tag 'hero-imgs/hero-4_npd6jy', class: 'hero__img', type: :upload %>
    <%= image_tag 'hero-imgs/hero-3_mdkafy', class: 'hero__img', type: :upload %>
    <%= image_tag 'hero-imgs/hero-2_bjm2a0', class: 'hero__img', type: :upload %>
    <%= image_tag 'hero-imgs/hero-1_z4or6s', class: 'hero__img', type: :upload %>
  </section>

  <!-- Homepage search box -->

  <div class="hp-search box">
    <h1 class='title title--l1 title--color-primary'>Find your next experience</h1>
    <%= render 'home_search', class: 'h-search__form' %>
  </div>

  <!-- Homepage events listing -->

  <section class='hp-events'>

    <!-- Events header -->

    <header class='hp-events__header'>
      <h2 class='title title--center text--skinny'>
        Events for you in
          <%= link_to @visitor_city,
                      events_path(location: @visitor_city),
                      class: 'link' %>
      </h2>
      <hr class='h-rule'>
    </header>

    <!-- Events listing -->

    <div class='events'>
      <%= postcard_events(@events) %>
    </div>

    <!-- Events show more btn -->

    <% if @events.any? && @events.size > 15 %>
      <%= link_to 'Show more', events_path, class: 'btn btn--hollow--notice' %>
    <% end %>

  </section>

  <!-- Homepage categories listing -->

  <section class='hp-categories-c'>
    <h2 class='title title--center text--skinny'>Browse by popular categories</h2>
    <hr class='h-rule'>
    <div class='categories'>
      <%= render 'categories' %>
    </div>
  </section>


</div>
