<% provide(:title, 'Update account') %>

<section class='form__container'>

  <header>
    <h2 class='title title--l1'><%= yield(:title) %></h2>
    <p class='text--smaller text--center'>Member since <%= time_ago_in_words(current_user.created_at) %> ago</p>
  </header>

  <hr class='h-rule'>

  <%= form_for(resource,
               as: resource_name,
               url: registration_path(resource_name),
               html: { method: :put },
               class: 'form') do |f| %>

    <%= devise_error_messages! %>

    <%= f.text_field :name, autofocus: true, class: 'form__field form__field--margin-yes', placeholder: 'New name' %>

    <%= f.email_field :email, class: 'form__field form__field--margin-yes', placeholder: 'New email' %>

    <% if resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <%= f.password_field :password, autocomplete: "off", placeholder: 'New password',
                        class: 'form__field form__field--margin-yes' %>
    <i class='text--smaller text--center'>(leave blank if you don't want to change it)</i>
    <em class='text--smaller text--center'><%= @minimum_password_length %> characters minimum</em>

    <hr class='h-rule'>

    <%= f.password_field :current_password, autocomplete: "off",
                          placeholder: 'Current password',
                          class: 'form__field form__field--margin-yes' %>
    <i class='text--smaller text--center'>(we need your current password to confirm your changes)</i>

    <%= f.submit "Update", class: 'btn btn--success btn--margin-yes' %>

  <% end %>

  <h3 class='title title--l3'>Unhappy with your account?</h3>

  <%= button_to "Delete account", registration_path(resource_name),
                data: { confirm: "Are you sure?" }, method: :delete,
                class: 'btn btn--danger' %>
