<% provide(:title, 'Sign up') %>

<section class='form__container'>

  <header>
    <h2 class='title title--l1'><%= yield(:title) %></h2>
    <p class='text--smaller text--center'>(All fields required)</p>
  </header>

  <hr class='h-rule'>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), class: 'form') do |f| %>

    <%= devise_error_messages! %>

    <%= f.text_field :name, required: true, autofocus: true,
                     placeholder: 'Name', class: 'form__field form__field--margin-yes' %>

    <%= f.email_field :email, required: true, placeholder: 'Email',
                       class: 'form__field form__field--margin-yes' %>

    <%= f.password_field :password, autocomplete: 'off', required: true,
                         placeholder: 'Password',
                         class: 'form__field form__field--margin-yes' %>

    <em class='text--center text--smaller'>(<%= @minimum_password_length %> characters minimum)</em>


    <%= f.submit "Sign up", class: 'btn btn--success btn--margin-yes' %>

  <% end %>

  <p class='text--smaller text--center'>Already have an account?
    <%= link_to 'Log in', new_user_session_path, class: 'link' %>
  </p>

</section>
