<% provide(:title, 'Sign up') %>

<section class='reglog-form'>

  <header class='reglog-form_header'>
    <h2>Sign up</h2>
    <p>(All fields required)</p>
  </header>

  <hr class='h-rule-5--orange'>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <%= f.text_field :name, required: true, autofocus: true,
                     placeholder: 'Name', class: 'reglog-form_input' %>

    <%= f.email_field :email, required: true, placeholder: 'Email',
                       class: 'reglog-form_input' %>

    <%= f.password_field :password, autocomplete: 'off', required: true,
                         placeholder: 'Password',
                         class: 'reglog-form_input reglog-form_input--no-margin' %>

    <em class='reglog-form_input-exp'>(<%= @minimum_password_length %> characters minimum)</em>


    <%= f.submit "Sign up", class: 'btn btn--success btn--mtb1' %>

  <% end %>

  <p>Already have an account?
    <%= link_to 'Log in', new_user_session_path, class: 'link-decorate' %>
  </p>

</section>
