<aside class="profile_aside">

  <div class="profile_aside_box">
    <h3 class='profile_aside_title'>
      <%= svg('headphones.svg', class: 'icon') %>
      Your events</h3>
    <ul class='profile_aside_link-container'>
      <li class='profile_aside_box_item'>
        <%= link_to "Events you created (#{@user.events.count})",
                    created_events_user_path,
                    remote: true,
                    class: 'profile_aside_link link--active' %>
      </li>
      <li class='profile_aside_box_item'>
        <%= link_to "Attending events (#{@user.upcoming_events.count})",
                     upcoming_events_user_path,
                     remote: true,
                     class: 'profile_aside_link' %>
      </li>
      <li class ='profile_aside_box_item'>
        <%= link_to "Attended events (#{@user.past_attended_events.count})",
                    past_attended_events_user_path,
                    remote: true,
                    class: 'profile_aside_link' %>
      </li>
    </ul>
  </div>
  <div class="profile_aside_box">
    <button class='btn btn--success btn--aside'>
      <%= link_to 'Create event', new_event_path, class: 'button-link' %>
    </button>
  </div>
</aside>
