<% provide(:title, 'Change password') %>

<section class='form__container'>

  <header>
    <h2 class='title title--l1'>Change your password</h2>
  </header>

  <hr class='h-rule'>

<%= form_for(resource,
             as: resource_name,
             url: password_path(resource_name),
             html: { method: :put },
             class: 'form') do |f| %>

  <%= devise_error_messages! %>

  <%= f.hidden_field :reset_password_token %>

  <%= f.password_field :password, autofocus: true, autocomplete: "off",
                       class: 'form__field', placeholder: 'New password' %>
  <em class='text--center text--smaller'>(<%= @minimum_password_length %> characters minimum)</em>

  <%= f.submit "Change my password", class: 'btn btn--success btn--margin-yes' %>
<% end %>
