<% provide(:title, 'Forgot password?') %>

<section class='form__container'>

  <header>
    <h2 class='title title--l1'><%= yield(:title) %></h2>
  </header>

  <hr class='h-rule'>

<%= form_for(resource,
             as: resource_name,
             url: password_path(resource_name),
             html: { method: :post },
             class: 'form') do |f| %>

  <%= devise_error_messages! %>

  <%= f.email_field :email, autofocus: true, placeholder: 'Email',
                    class: 'form__field' %>

  <%= f.submit "Send me reset instructions", class: 'btn btn--success btn--margin-yes' %>
<% end %>
