<aside class="profile_aside">

  <div class="profile_aside_box">
    <h3 class='profile_aside_title'>
      <%= svg('filter.svg', class: 'icon') %>
      Filter events</h3>
    <%= form_tag :events, method: 'get' do %>
      <%= text_field_tag :location, params[:location], { class: 'profile_aside_box_item event-form_field',
                                          placeholder: 'Event\'s location' } %>
      <%= text_field_tag :by_title, params[:by_title], { class: 'profile_aside_box_item event-form_field',
                                          placeholder: 'Event\'s title' } %>
      <div class='select-box'>
        <%= svg('circle-down.svg', class: 'select-icon') %>
        <%= select_tag :by_category, options_for_select(Category.pluck(:name, :id), params[:by_category]),
                                   { include_blank: 'Select category',
                                   class: 'event-form_select' } %>
      </div>

      <%= submit_tag 'Search', { class: 'btn btn--notice btn--aside', id: 'search' } %>
    <% end %>
    <%= button_to "Clear Search", events_path,
                                  method: 'get',
                                  class: 'btn btn--danger btn--aside',
                                  id: 'clear-search' %>
  </div>
  <div class="profile_aside_box">
    <div class='map'>
      <div id="map" style='width: 100%; height: 200px;'></div>
    </div>
  </div>
</aside>
