<aside class="profile_aside">

  <div class="profile_aside_box">
    <h3 class='profile_aside_title'>
      <%= svg('filter.svg', class: 'icon') %>
      Filter events</h3>
    <%= form_tag :events, method: 'get' do %>

      <%= text_field_tag :by_title, params[:by_title], { class: 'profile_aside_box_item event-form_field',
                                          placeholder: 'Event\'s title, description' } %>
      <%= text_field_tag :location, params[:location], { class: 'profile_aside_box_item event-form_field',
                                          placeholder: 'Event\'s location' } %>

      <div class='select-box profile_aside_box_item'>
        <%= svg('circle-down.svg', class: 'select-icon') %>
        <%= select_tag :by_category,
                        options_for_select(@categories,
                        params[:by_category]),
                        { include_blank: 'Select category',
                          class: 'event-form_select' } %>
      </div>
      <div class='profile_aside_box_item datetime-picker_container'>

        <%= text_field_tag :start_date,
                          (params[:start_date].to_datetime.strftime("%e %b, %Y") unless params[:start_date].blank?),
                          { id: 'datepicker',
                            class: 'event-form_field datetime-picker--aside',
                            placeholder: 'From date...' } %>
        <%= text_field_tag :end_date,
                          (params[:end_date].to_datetime.strftime("%e %b, %Y") unless params[:end_date].blank?),
                          { id: 'datepicker2',
                            class: 'event-form_field datetime-picker--aside',
                            placeholder: '...to date' } %>
      </div>

      <%= submit_tag 'Search', { class: 'btn btn--notice btn--aside', id: 'search' } %>
    <% end %>
    <%= button_to "Clear Search", events_path,
                                  method: 'get',
                                  class: 'btn btn--danger btn--aside',
                                  id: 'clear-search' %>
  </div>
  <div class="profile_aside_box">
    <div class='map'>
      <div id="event-map" style='height: 200px;'></div>
    </div>
  </div>
</aside>
