<% if @events.any? %>
  <% @events.each do |event| %>

    <div class='event_cell--list'>
      <% if event.creator == current_user && event.upcoming? %>
        <div class='event_edit'><%= link_to('edit', edit_event_path(event), class: 'link-decorate') %></div>
      <% end %>
      <a href='<%= event_path(event) %>'>

        <div class='event-list'>

          <header class='event-list_main_header'>
            <% if event.upcoming? %>
              <%= image_tag event.picture.thumb.url,
                            class: 'event-list_image' %>
            <% else %>
              <%= image_tag event.picture.thumb.url,
                            class: 'event-list_image event_image--grayscale' %>
            <% end %>

          </header>

          <div class='event-list_main_body'>
            <div class='event-list_date'><%= time_tag event.date_and_time, event.date_and_time.strftime("%a, %d %b %Y %k:%M %p")%></div>
            <%= content_tag(:h5, truncate(event.title, length: 80), class: 'event-list_title') %>
            <%= content_tag(:h6, truncate((event.venue + ', ').concat(event.address),length: 80), class: 'event-list_venue') %>
            <footer class='event-list_footer'>
              <%= content_tag(:h6, event.category.name, class: 'event-list_category') %>
              <%= content_tag(:h6, "Attendees: #{event.attendees.count}", class: 'event-list_category') %>
            </footer>
          </div>
        </div>

      </a>

    </div>
  <% end %>
<% else %>
  <h3 class='title title--center title--skinny title--noevents'>No events found</h3>
<% end %>
