<div class='event_cell'>
  <div class='event-postcard'>
    <%= link_to event, class: 'event-postcard_main' do %>

      <header class='event-postcard_main_header'>
        <%= image_tag event.picture.thumb.url, class: 'event-postcard_image' %>
      </header>

      <div class='event-postcard_main_body'>
        <%= time_tag event.date, event.date.strftime("%a, %d %b %Y %k:%M %p"), class: 'event-postcard_date' %>
        <%= content_tag(:h5, truncate(event.title, length: 45), class: 'event-postcard_title') %>
        <%= content_tag(:h6, event.venue, class: 'event-postcard_venue') %>
      </div>
    <% end %>
    <footer class='event-postcard_footer'>
      <div>
        <!--Categories-->
      </div>
    </footer>
  </div>
</div>
