<%= form_for @event, html: { class: 'event-form' } do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class='event-form_group'>
    <%= f.label :title %>
    <%= f.text_field :title, required: true, autofocus: true,
                    placeholder: 'Short, distinct title', class: 'event-form_field' %>
  </div>

  <div class='event-form_group'>
    <%= f.label :venue %>
    <%= f.text_field :venue, required: true, placeholder: 'Where it\'s held',
                     class: 'event-form_field' %>
  </div>

  <div class='event-form_group'>
    <%= f.label :address %>
    <%= f.text_field :address, required: true, placeholder: 'Venue\'s full address',
                     class: 'event-form_field' %>
  </div>

  <div class='event-form_group'>
    <%= f.label 'Date and time' %>

    <div class='datetime-picker_container'>
      <%= text_field_tag :date,
                         (@event.date_and_time.strftime("%e %b, %Y") unless @event.date_and_time.nil?),
                         { id: 'datepicker',
                           class: 'event-form_field datetime-picker',
                           placeholder: 'Set event\'s date' } %>
      <%= text_field_tag :time,
                         (@event.date_and_time.strftime("%l:%M %p") unless @event.date_and_time.nil?),
                         { id: 'timepicker',
                           class: 'event-form_field datetime-picker',
                           placeholder: 'Set event\'s time' } %>
    </div>
  </div>

  <%= hidden_field_tag :date_and_time %>

  <div class='event-form_group'>
    <%= f.label :category %>
    <div class='select-box'>
      <%= svg('circle-down.svg', class: 'select-icon') %>
      <%= f.select :category_id, Category.pluck(:name, :id),
                                 { include_blank: 'Please select a category' },
                                 { class: 'event-form_select', required: true } %>
    </div>
  </div>

  <div class='event-form_group'>
    <%= f.label :description %>
    <%= f.text_area :description, placeholder: 'Provide a detailed description of your event',
                                  class: 'event-form_text-area' %>
    <p class='file-input-exp'>You can use <em>stong, em, a, h3, h4, h5, h6, p and hr</em> HTML tags.</p>
  </div>

  <div class='event-form_group'>
    <%= f.hidden_field(:picture_cache) %>

    <% if @event.picture? %>
      <%= image_tag @event.picture_url(:thumb_card), class: 'event-form_img-container' %>
    <% end %>

    <%= f.file_field :picture, class: 'inputfile inputfile-1' %>
    <label for="event_picture"><%= svg('fileinput.svg') %>
      <% unless @event.new_record? %>
        <span>Update event image</span>
      <% else %>
        <span>Add event image</span>
      <% end %>
    </label>

    <p class='file-input-exp'>Please use only 1 image, at least 1440x720px (2:1), max 10MB</p>
  </div>

  <%= f.submit 'Make it live', class: 'btn btn--success btn--large' %>
<% end %>
