<%= form_for @event, html: { class: 'form' } do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <!-- Event's title -->
  <div class='form__group'>
    <%= f.label :title, class: 'title--l4' %>
    <%= f.text_field :title, required: true, autofocus: true,
                    placeholder: 'Short, distinct title', class: 'form__field' %>
  </div>

  <!-- Event's venue -->
  <div class='form__group'>
    <%= f.label :venue, class: 'title--l4' %>
    <%= f.text_field :venue, required: true, placeholder: 'Where it\'s held',
                     class: 'form__field' %>
  </div>

  <!-- Event's address -->
  <div class='form__group'>
    <%= f.label :address, class: 'title--l4' %>
    <%= f.text_field :address, required: true, placeholder: 'Venue\'s full address',
                     class: 'form__field' %>
  </div>

  <!-- Event's date and time -->
  <div class='form__group'>
    <%= f.label 'Date and time', class: 'title--l4' %>

    <div class='datetime-picker_container'>
      <%= text_field_tag :date,
                         (@event.date_and_time.strftime("%e %b, %Y") unless @event.date_and_time.nil?),
                         { id: 'datepicker',
                           class: 'form__field datetime-picker',
                           placeholder: 'Set event\'s date' } %>
      <%= text_field_tag :time,
                         (@event.date_and_time.strftime("%l:%M %p") unless @event.date_and_time.nil?),
                         { id: 'timepicker',
                           class: 'form__field datetime-picker',
                           placeholder: 'Set event\'s time' } %>
    </div>
  </div>

  <%= hidden_field_tag :date_and_time %>

  <!-- Event's category -->
  <div class='form__group'>
    <%= f.label :category, class: 'title--l4' %>
    <div class='select'>
      <%= svg('circle-down.svg', class: 'select-icon') %>
      <%= select_tag :by_category,
                      options_for_select(@categories,
                      @event.category_id),
                      { include_blank: 'Select category',
                        class: 'form__field' } %>
    </div>
  </div>

  <!-- Event's description -->
  <div class='form__group'>
    <%= f.label :description, class: 'title--l4' %>
    <%= f.text_area :description, placeholder: 'Provide a detailed description of your event',
                                  class: ' form__field form__textarea' %>
    <p class='text--center text--smaller'>You can use <em>stong, em, a, h3, h4, h5, h6, p and hr</em> HTML tags.</p>
  </div>

  <!-- Event's picture -->
  <div class='form__group'>

    <% if @event.picture? %>
      <%= image_tag @event.picture_url(:thumb_card), class: 'form__img-thumb' %>
    <% end %>

    <%= f.file_field :picture, class: 'inputfile inputfile-1' %>
    <label for="event_picture"><%= svg('fileinput.svg') %>
      <% unless @event.new_record? %>
        <span>Update event image</span>
      <% else %>
        <span>Add event image</span>
      <% end %>
    </label>

    <p class='text--center text--smaller'>Please use only 1 image, at least 1440x720px (2:1), max 10MB</p>
  </div>

  <!-- Event's submit btn -->
  <%= f.submit 'Make it live', class: 'btn btn--success btn--large' %>
<% end %>
