<div class="event-listing-grid">

  <!-- Blurry hero image -->
  <div class="hero">
      <%= image_tag @event.picture_url,
                    class: class_string('hero__img--blurry',
                                        'hero__img--blurry--grayscale' => @event.past?) %>
  </div>

  <div class='event__container'>

    <!-- Event's edit btn -->
    <% if @event.creator == current_user && @event.upcoming? %>
      <div class='event__edit--big event__edit'>
        <%= link_to('edit', edit_event_path(@event), class: 'link') %>
      </div>
    <% end %>

    <!-- Event image -->
    <figure class='event__header'>

        <%= image_tag @event.picture_url(:show),
                      class: class_string('event__image',
                                          'img--grayscale' => @event.past?),
                      alt: @event.title %>
    </figure>

    <!-- Event header info -->
    <div class='event__header-info'>

      <div class='event__date'>
        <%= time_tag @event.date_and_time, '' do %>
          <%= content_tag :p, @event.date_and_time.strftime("%b"), class: 'text--smallest text--up text--muted' %>
          <%= content_tag :p, @event.date_and_time.strftime("%d"), class: 'text--up title--l3 text--muted' %>
        <% end %>
      </div>

      <div class='event__header-body'>
        <%= content_tag :h2, @event.title, class: 'title--l3' %>

        <h2 class='text--up title--l4 text--muted text--skinny  mt1'>
          Attendees:
          <span id='attendees-count' class='title--l4 text--muted'>
            <%= @event.attendees.count %>
          </span>
        </h2>

        <p class='text--smaller text--skinny'>by <%= link_to @event.creator.name,
            user_path(@event.creator), class: 'link text--skinny' %></p>
      </div>
    </div>

    <!--- Event attend btn -->
    <div class='event__attend'>

      <% if current_user && @event.upcoming? %>
        <%= render 'attend-form' %>

      <% elsif @event.past? %>
        <p>This event was held on <%= @event.date_and_time.strftime("%a, %d %b %Y") %></p>

      <% else %>
        <p class='text--center'><%= link_to 'Sign up', new_user_registration_path, class: 'link' %> or
           <%= link_to 'log in', new_user_session_path, class: 'link' %> to attend this event</p>
      <% end %>

    </div>

    <!-- Event's description -->
    <section class='event__description'>
      <%= content_tag :h3, 'Descripton', class: 'title--l5 text--up mb1' %>
      <div class='event__text text--preline'><%= sanitize @event.description, tags: %w(strong em a h3 h4 h5 h6 p hr ul ol li), attributes: %w(href) %></div>
    </section>

    <!-- Event's date, time and location info -->
    <aside class="event__aside-info event__text">

      <div class='aside__group'>
        <%= content_tag :h3, 'Date and time', class: 'title--l5 text--up mb1' %>
        <%= time_tag @event.date_and_time, @event.date_and_time.strftime("%a, %d %b %Y %l:%M %p") %>
      </div>

      <div class='aside__group'>
        <%= content_tag :h3, 'Location', class: 'title--l5 text--up mb1' %>
        <address>
          <% @event.venue.split(', ').each do |address_slice| %>
            <%= content_tag :p, address_slice, class: 'event__text' %>
          <% end %>
          <% @event.address.split(', ').each do |address_slice| %>
            <%= content_tag :p, address_slice, class: 'event__text' %>
          <% end %>
        </address>
      </div>

    </aside>

    <!-- Event's map -->
    <div class='event__map'>
      <div id='event-map' class='map'></div>
    </div>

    <!-- Event's location details and directions link -->
    <div class='event__location'>
      <%= content_tag :h2, @event.title, class: 'title--l3' %>
      <span class='text--muted text--smaller text--skinny'>at</span>
      <%= content_tag :h2, @event.venue, class: 'title--l3' %>
      <%= content_tag :p, @event.address, class: 'text--smaller' %>
      <%= link_to 'Directions',
                  "https://www.google.com/maps?saddr=My+Location&daddr=#{@event.latitude},#{@event.longitude}",
                   class: 'link text--smaller',
                  target: '_blank' %>
    </div>
  </div>
</div>
