<% provide(:title, 'Log in') %>

<section class='new-form'>
  <header class="new-form_header">
    <h2>Log in</h2>
  </header>

  <hr>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <%= f.email_field :email, autofocus: true, placeholder: 'Email' %>

      <%= f.password_field :password, autocomplete: "off", placeholder: 'Password' %>

    <% if devise_mapping.rememberable? -%>
      <div class="field mt-1">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end -%>

      <%= f.submit "Log in", class: 'btn btn-success new-form_btn' %>
  <% end %>
  <p>Don't have an account?
    <%= link_to 'Sign up', new_user_registration_path, class: 'link-decorate' %>
  </p>
</section>
