<% provide(:title, 'Log in') %>

<section class='form__container'>
  <header>
    <h2 class='title title--l1'><%= yield(:title)%></h2>
  </header>

  <hr class='h-rule'>

  <%= form_for(resource, as: resource_name,
                         url: session_path(resource_name),
                         class: 'form') do |f| %>


    <%= f.email_field :email, autofocus: true, placeholder: 'Email',
                      class: 'form__field form__field--margin-yes' %>

    <%= f.password_field :password, autocomplete: "off", placeholder: 'Password',
                         class: 'form__field form__field--margin-yes' %>

    <div class="form__remember-me">
      <div>
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me, class: 'text--smaller' %>
      </div>
      <%= link_to "Forgot password?", new_password_path(resource_name),
                                      class: 'link text--smaller' %>
    </div>

      <%= f.submit "Log in", class: 'btn btn--success btn--margin-yes' %>
  <% end %>

  <p class='text--smaller text--center'>Don't have an account?
    <%= link_to 'Sign up', new_user_registration_path, class: 'link' %>
  </p>

</section>
