<header class='main-header'>
  <%= link_to 'Eventbrite', root_path, id: 'logo', class: 'logo' %>
  <nav class='main-header_nav'>

      <div class='main-header_nav-item'>
        <%= link_to 'Browse events', events_path, class: 'main-header_nav-link'%>
      </div>

      <% if user_signed_in? %>

        <div class="main-header_nav-item dropdown">
          <div class='main-header_nav-link dropbtn' id='dropbtn'>
            <%= svg('user.svg', class: 'icon') %>
            <p class='main-header_nav-item_username' id='main-header_nav-item_username'><%= current_user.name %></p>
          </div>
          <div class="dropdown-content" id='dropdown-content'>
            <%= link_to 'Manage events', current_user, title: 'Manage your events', class: 'main-header_dropdown-link' %>
            <%= link_to 'Update account', edit_user_registration_path, title: 'Update account', class: 'main-header_dropdown-link' %>
            <%= link_to 'Logout', destroy_user_session_path, title: 'Logout',
                         class: 'main-header_dropdown-link', method: 'delete' %>
          </div>
        </div>

      <% else %>

        <div class='main-header_nav-item'>
          <%= link_to 'Sign up', new_user_registration_path, class: 'main-header_nav-link'%>
        </div>

        <div class='main-header_nav-item'>
          <%= link_to 'Log in', new_user_session_path, class: 'main-header_nav-link'%>
        </div>

      <% end %>

      <div class='main-header_nav-item'>
        <%= link_to 'Create event', '#', class: 'main-header_nav-link'%>
      </div>

  </nav>
</header>
