<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/shim' %>
  </head>

  <body>
    <main class="page-container">
      <%= render 'layouts/header' %>
      <%= render 'shared/flash' %>
      <%= yield %>
      <%= render 'layouts/footer' %>
    </main>
  </body>
</html>
